body {
  border: 1px solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f1ea;
}

h1 {
  color: #f3f1ea;
}
.add-new-task-section {
  width: 99%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin: auto;
}

.new-task-details {
  width: 95%;
  height: 90%;
  border: 1px solid black;
}

.add-task.button {
}

.verde {
  background-color: green;
}
.azul {
  background-color: blue;
}

.filtering-button {
  width: 32%;
}

.tasks-resume {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

#task-cards-container {
  height: 60vh;
  overflow-y: scroll;
}

.task-card-div {
  border: 2px solid #53515d;
  background-color: #1d1b2a;
  border-radius: 3%;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
